#ifndef ROBOROCK_VACUUM_CONFIG_H
#define ROBOROCK_VACUUM_CONFIG_H

#define WIFI_NAME "MyNetwork"
#define WIFI_PASSWORD "s3CuR3"
#define DECRYPTED_ROBOT_TOKEN "42777565316d633330794a676b77374b"

#endif
